blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.4.4
MarkupSafe==3.0.2
opt-einsum==3.3.0
pyasn1-modules==0.3.0
rsa==4.9
Werkzeug==3.1.3
zipp==3.21.0
