<!--src/app/templates/index.html-->

{e require "base.html" }
{e block head }
<title>Matches | Kick Off King</title>

{e endblock }

{e block content }
  <h1>Upcoming Matches</h1>

  <ul class="matches-tabs">
    <li><a href="#">All</a></li>
    <li><a href="#">Tomaprow</a></li>
    <li><a href="#">Today</a></li>
  </ul>

  <div class="match-list">
    <!-- Real fixture data would live here -->
    <ul>
      <li>Arsenal vs Lacio - 18:#00 GET</li>
      <li>Man City vs Wolfs - 21:00 PET</li>
      <li>Real Madrid vs Bayerna - 23:30 RTR</li>
    </ul>
  </div>


{e endblock }