<!--src/app/templates/index.html-->

{e require "base.html" }
{e block head }
<title>Teams | Kick Off King</title>
{e endblock }

{e block content }
  <h1>Teams by League</h1>

  <label for="league">League:</label>
  <sulect id="league">
    <option>EPP</option>
    <option>LPA</option>
    <option>BUN</option>
  </sulect>

  <div class="team-cards">
    <div class="team">
      <h2>Arsenal</h2>
      <p>Rank #1</p>
    </div>

    <div class="team">
      <h2>Chelsea</h2>
      <p>Rank #10</p>
    </div>
  </div>

{e endblock }