<footer>
    <div class="footer-content">

        <!-- Left -->
        <div class="footer-left">
            <p>&copy; 2025 WAI Forward</p>
            <p>71-75 Shelton Street WC2H 9JQ London, UK.</p>
            <p><a href="mailto:ch@waiforward.co.uk">ch@waiforward.co.uk</a></p>
        </div>

        <!-- Social -->
        <div class="social-media-container">
            <a href="https://www.facebook.com/waiforwardltd">
                <img src="{{ url_for('static', filename='assets/facebooklogo.png') }}" alt="Facebook">
            </a>
            <a href="https://twitter.com/waiforwardltd">
                <img src="{{ url_for('static', filename='assets/X-Logo.png') }}" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com/company/wai-forward-ltd">
                <img src="{{ url_for('static', filename='assets/linkedin.png') }}" alt="LinkedIn">
            </a>
        </div>

        <!-- Right -->
        <div class="footer-right">
            <p><a href="https://waiforward.co.uk/privacy-policy" target="_blank">Privacy Policy</a></p>
            <p><a href="https://waiforward.co.uk/terms-and-conditions" target="_blank">Terms & Conditions</a></p>
            <p><a href="https://waiforward.co.uk/cookie-settings" target="_blank">Manage Cookies</a></p>
        </div>

    </div>
</footer>
