
/* Big Screens - Full View */
@media (min-width: 768px) {

    /* Hide the burger icon */
    .nav-toggle {
        display: none;
    }

    .mobile-menu {
        max-height: 0 !important;
        opacity: 0 !important;
        overflow: hidden !important;
    }

    .mobile-menu.visible {
        max-height: 0 !important;
        opacity: 0 !important;
        overflow: hidden !important;
    }

}

/* Medium Screens - Hide Logo Title */
@media (max-width: 1060px) {

    #header-logo-title {
        display: none;
    }

    /* Keep space-between, but push nav container toward the left */
    #nav-menu-container {
        position: static;
        transform: none;
        margin-right: auto; /* push it left */
    }

    #nav-buttons {
        justify-content: flex-start;
    }

    #nav-buttons li a {
        font-size: 1rem;
        padding: 8px 10px;
    }

    #auth-buttons li a {
        font-size: 1rem;
        padding: 4px 8px;
    }

}

/* Small Screens - Burger Icon */
@media (max-width: 768px) {

    /* Show the burger icon */
    .nav-toggle {
        display: block;
    }

    /* Hide the page buttons */
    #nav-menu-container {
        display: none;
    }

    /* Hide the auth buttons */
    .auth-nav-section {
        display: none;
    }

}

.mobile-menu {
    background-color: #243f53;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3), 0px 4px 12px rgba(17, 29, 38, 0.4), inset 0px -2px 0px rgba(255, 255, 255, 0.15);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.mobile-menu.visible {
    max-height: 1000px; /* Arbitrary large value to allow space */
    opacity: 1;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.mobile-menu li a,
.mobile-menu .mobile-parent {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #111d26;
    transition: background-color 0.2s ease;
}

.mobile-menu li a:hover {
    background-color: #2a3e50;
}

.mobile-submenu {
    margin-left: 15px;
    margin-top: 4px;
    border-left: 2px solid #2ed9e7;
    padding-left: 10px;
}

.mobile-submenu li {
    padding-left: 10px; /* or whatever spacing you want */
}

